.container {
  margin: auto;
  display: flex;
  justify-content: center;
  .app {
    width: 100%;
    margin: 20px 10px 0;
    .head {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
    }
  }
}

/* small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
